<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  <link rel="stylesheet" href="css/app.css" />
  <title>Logs </title>
</head>
<body>
    <div>         
    <a href="index.html"> <p> home page </p> </a>    
    </div>

    <h1>Historique des enchères</h1>

    <ul id="logList"></ul>
     
     <h1>🕹️ Live Auctions</h1>
  <div class="container">
    <div class="list">
      <h2>🧸 Products</h2>
      <ul id="product-list"></ul>
    </div>
    <div class="list">
      <h2>💸 Auctions</h2>
      <ul id="auction-list"></ul>
    </div>
  </div>
    <script>
    async function fetchData() {
      try {
        const res = await fetch('http://localhost:3000'); 
        const data = await res.json();

        const productList = document.getElementById('product-list');
        const auctionList = document.getElementById('auction-list');

        data.products.forEach(p => {
          const li = document.createElement('li');
          li.textContent = `#${p.id} - ${p.name}`;
          productList.appendChild(li);
        });

        data.auctions.forEach(a => {
          const li = document.createElement('li');
          li.textContent = `${a.item} ➡ ${a.bid} € (le ${new Date(a.ts).toLocaleString()})`;
          auctionList.appendChild(li);
        });

      } catch (err) {
        console.error('Erreur de chargement des données', err);
      }
    }

    fetchData();
  </script>




  <script type="module" src="/js/logs.js"></script>
</body>
</html>